@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


.checkbox-input {
  position: relative;
  cursor: pointer;
}

.checkbox-input::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

.checkbox-input:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #4a90e2;
  border-radius: 2px;
}
.fade-in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


:root {
  --color-custom-gray: #232322;
}

body {
  font-family: 'Open Sans', sans-serif;
   color: var(--color-custom-gray) !important;
}

h1 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 600; /* Semibold */
}

h2 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600; /* Bold */
}

.label-smaller {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600; /* Bold */
}

.body-text-smaller {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400; /* Regular */
}


.body-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; /* Regular */
}

.search {
  background-color: #362F56;
  height: 60px; /* Figma says 57, I changed to 60 */
}

.input-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.navigation {
  font-family: 'DMSans', sans-serif; /* Assuming DMSans is added to your project */
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.navigation-bold {
  font-family: 'DMSans', sans-serif; /* Assuming DMSans is added to your project */
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  background-color: #F3F5F8;
}

.navigation:hover {
  font-family: 'DMSans', sans-serif; /* Assuming DMSans is added to your project */
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  background-color: #F3F5F8;
}

.background{
  background-color: #F3F5F8
} 

.close_button {
  background-color: #F3F5F8;
  color: #8271EB;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 2px;
  font-weight: 450;
}

.close_button:hover{
  background-color: #E0E4E7;
}

button {
    background-color: #8271EB;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 2px;
    font-weight: 450;
}

button:hover {
  background-color: #6d5ddc; /* Slightly darker color than #8271EB */
}

.button {
  background-color: #8271EB
}

.button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 3px rgba(130, 113, 235, 0.5); /* Add custom focus styling */
}

.button:hover {
  background-color: #6d5ddc; /* Slightly darker color than #8271EB */
}

.gray-9 {
  color: #E0E4E7
}

.gray-9-bg {
  background-color: #E0E4E7
}


.gray-12 {
  color: #F3F5F8
}

.gray-12-bg {
  background-color: #F3F5F8
}

.small-bold {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;

}

.gray-6 {
  color: #DDDDDD
}

.gray-6-bg {
  background-color: #DDDDDD!important;
}

.gray-3 {
  color: #828282
}

.gray-2 {
  color: #5F6165;  
}

.gray-2-bold {
  color: #5F6165;  
  font-weight: 600;
}

.borders {
  border-width: 1px;
  border-color: #DDDDDD;
  border-collapse: separate; 
}

.login {
  background-color: #F3F5F8 !important

}

.priority {
  background-color: #F44336;
}

.shadow-custom {
  /* Set custom shadow using CSS variables */
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --shadow-blur-radius: 4px;
  --shadow-color: rgba(0, 0, 0, 0.03); /* Adjust the shadow color and opacity as needed */
  box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-color);
}

.link-text {
  color: #6d5ddc
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm flex items-center justify-center;
}



.dropdown-toggle {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 5px;
}

.dropdown-item {
  cursor: pointer;
  padding: 5px;
}

.icon-container {
  float: right;
  margin-left: 5px; /* Adjust margin as needed */
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}


.section-title {
  display: flex;
  justify-content: space-between;
}



.icon-container {
  align-self: flex-start;
}

/* In your CSS file */
.copied-notification {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6d5ddc;
  color: #fff;
  padding: 8px 16px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
    
  }
  80%{
    opacity: 1;
      
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 5s; /* Adjust as needed */
}


.not-started {
  background-color: #FEF8EE;
  color: #EC9125;
}


.complete {
  background-color: #E6F8F5;
  color: #047A6F;
}